@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

html {
  text-align: center;
  background-color: #f2c6a9;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

button,
h1 {
  font-family: 'Love Ya Like A Sister', sans-serif;
}

h1 {
  color: rgb(208, 44, 44);
}

button {
  font-size: calc(30px + 9vw);
}

#canvas {
  text-align: center;
  width: 100vw;
  height: 77vh;
  display: flex;
  align-items: center;
}

.shapePort {
  height: 60vh;
  background-color: beige;
  padding: 20px;
  margin-left: 20px;
  border-radius: 7px; 
  box-shadow: inset 0 0 7px #0000004f;
}

.dragPort {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  height: 65vh;
  width: 100%;
  background-color: lightblue;
  border-radius: 7px; 
  box-shadow: inset 0 0 7px #0000004f;
}

.square, 
.triangle,
.circle {
  margin-bottom: 20px;
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #7c388f;
}

.triangle {
  height: 0;
  width: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 100px solid #4c8000;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ffbf00;
  border-radius: 50%;
}

#restartButton {
  color: black;
}
