@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/* LAYOUT */
html {
  text-align: center;
  background-color: #f2c6a9;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#canvas {
  text-align: center;
  width: 99vw;
  height: 77vh;
  display: flex;
  align-items: center;
}
.shapePort {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-color: beige;
  padding: 20px;
  margin-left: 20px;
  border-radius: 7px; 
  box-shadow: inset 0 0 7px #0000004f;
}
.dragPort {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  height: 65vh;
  width: 100%;
  background-color: lightblue;
  border-radius: 7px; 
  box-shadow: inset 0 0 7px #0000004f;
}
#level {
  position: absolute;
  top: 10px;
  font-size: 1.5em;
}
.draggable,
button {
  cursor: pointer;
}

/* TYPEOGRAPHY AND BUTTONS */
button,
h1,
span {
  font-family: 'Love Ya Like A Sister', sans-serif;
}

h1 {
  color: rgb(208, 44, 44);
  font-size: 35px;
}
#startButton {
  font-size: calc(30px + 9vw);
}
#restartButton {
  color: white;
  background: rgb(80, 80, 141);
  padding: 10px 20px;
  margin: 15px;
  font-size: 25px;
}

/* SHAPES */
.square, 
.triangle,
.circle,
.pentagon {
  margin-bottom: 20px;
  position: relative;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #7c388f;
}
.triangle {
  height: 0;
  width: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 100px solid #4c8000;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: #ffbf00;
  border-radius: 50%;
}
.pentagon {
  position: relative;
  top: 32px;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: palevioletred transparent;
}
.pentagon:before {
  content:"";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 36px;
  border-style: solid;
  border-color: transparent transparent palevioletred;
}

/* MEDIA QUERIES --------------------------- */
@media only screen and (orientation: portrait) {
  #canvas {
    flex-direction: column;
  }
  .shapePort {
    flex-direction: row;
    justify-content: center;
    height: initial;
    width: 79%;
    margin: 20px;
  }
  .dragPort {
    width: 85%;
  }
  .square, 
  .triangle, 
  .circle, 
  .pentagon {
    margin: 9px;
  }
  .pentagon {
    top: 23px;

  }
  .pentagon::before {
  }
}
